---
layout: first_stage
body_class: "kontakt"
wortpaar: "einfach-persoenlich"
title: Kontakt
hero_image_path: kontakt-hero-image.jpg
intro_text: '<p>Wenn aus unpersönlich persönlich wird: Wir versprechen Ihnen ein unvergessliches Kennenlernen.</p><p>Rufen Sie uns an oder kommen Sie vorbei.</p>'
---


<section id="team" class="content-section white-bg">
  <div class="container">
    <h2 class="section-header editable">Unser Team</h2>
  </div>
  <div class="container">
    <div class="team-wrapper row">
      
      

    </div>
  </div>
</section>


<section id="jumper-section" class="content-section">
  <div class="container">
    <h2 class="section-header text-center editable">Oder lernen Sie uns weiter kennen</h2>
    <div class="arrow-divider text-center"><img src="../img/icons/arrow-down-blue.svg"></div>
    <div class="row">
      
      {% include jumper-item.html link_title="Die Agentur" link_path="/agentur" img_path="img/jumper-agentur.png" %}
      
      {% include jumper-item.html link_title="Leistungen" link_path="/leistungen" img_path="img/jumper-leistungen.png" %}
      
      {% include jumper-item.html link_title="Projekte" link_path="/projekte" img_path="img/jumper-projekte.png" %}
      
      
    </div>
  </div>
</section>
