---
layout: first_stage
body_class: "kontakt"
wortpaar: "einfach-persoenlich"
title: Kontakt – wir freuen uns auf Sie!
description: Lernen Sie uns doch persönlich kennen!
hero_image_path: kontakt-hero-image.jpg
intro_text: '<p>Wenn aus unpersönlich persönlich wird: Wir versprechen Ihnen ein unvergessliches Kennenlernen.</p><p>Rufen Sie uns an oder kommen Sie vorbei.</p>'
---


<section id="map" class="content-section white-bg">
  <div class="container">
    
  </div>
</section>


<section id="contact_form" class="content-section white-bg">
  <div class="container">
    <div class="row">
      <h2 class="section-header text-center editable">Sprechen Sie uns einfach an</h2>
    </div>
    <div class="row">
      <div class="col-md-6">
        <form name="sentMessage" id="contactForm" action="{{contents.messages.public_submission_url}}" novalidate method="post">
          <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                  <label for="name" data-i18n="form_label_name">Name</label>
                  <input type="text" class="form-control" name="content[name]" placeholder="Verraten Sie uns Ihren Namen?" id="name" required data-validation-required-message="Bitte geben Sie Ihren Namen ein" />
                  <p class="help-block text-danger"></p>
              </div>
          </div>
          <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                  <label for="email" data-i18n="form_label_email">Ihre E-Mail-Adresse</label>
                  <input type="email" name="content[email]" class="form-control" placeholder="Wie erreichen wir Sie? E-Mail, Telefon?" id="email" required data-validation-required-message="Bitte geben Sie eine gültige E-Mail-Adresse ." />
                  <p class="help-block text-danger"></p>
              </div>
          </div>
          <div class="row control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                  <label data-i18n="form_label_message">Nachricht</label>
                  <textarea rows="5" name="content[message]" class="form-control" placeholder="Was können wir für Sie tun? " id="message" required data-validation-required-message="Bitte teilen Sie uns Ihr Anliegen mit."></textarea>
                  <p class="help-block text-danger"></p>
              </div>
          </div>
          <input type="hidden" name="_to" value="{{ site.contact_email}}" />
          <input type="hidden" name="_subject" value="Anfrage über Website" />
          <input type="text" name="_gotcha" style="display: none;" />
          <div class="row">
              <div class="form-group col-xs-12">
                  <button type="submit" class="btn btn-default btn-block" data-i18n="form_submit">Abschicken</button>
              </div>
          </div>
        </form>
      </div>
      <div class="col-md-4 offset-md-2">
        <div class="ep-logo">
          <img src="/img/logo-ep-pos.svg">
        </div>
        <div class="contact-details">
          <p class="adress">
            {{ site.company_name }}<br>
            {{ site.address }}<br>
            {{ site.plz}}
          </p>
          <p class="tel">
            T <a href="tel:{{site.tel}}">{{ site.tel }}</a><br>
            F {{ site.fax }}
          </p>
          <p>
            CEO {{ site.ceo }}<br>
            Amtsgericht {{ site.amtsgericht }}<br>
            USt-Nr {{ site.ust-nr }}
          </p>
        </div>
        
      </div>
    </div>
  </div>
</section>




<section id="jumper-section" class="content-section">
  <div class="container">
    <h2 class="section-header text-center editable">Oder lernen Sie uns weiter kennen</h2>
    <div class="arrow-divider text-center"><img src="../img/icons/arrow-down-blue.svg"></div>
    <div class="row">
      
      {% include jumper-item.html link_title="Die Agentur" link_path="/agentur" img_path="img/jumper-agentur.png" %}
      
      {% include jumper-item.html link_title="Leistungen" link_path="/leistungen" img_path="img/jumper-leistungen.png" %}
      
      {% include jumper-item.html link_title="Projekte" link_path="/projekte" img_path="img/jumper-projekte.png" %}
      
      
    </div>
  </div>
</section>
