---
layout: first_stage
body_class: "projekte"
wortpaar: "enthusiastisch-produktiv"
title: Projekte – ein kleiner Einblick
description: Verschaffen Sie sich hier einen ersten Eindruck über unsere Projekte
intro_text: '<p>Verschaffen Sie sich hier einen ersten Eindruck über unsere Projekte.</p><p>Noch besser – lernen Sie uns kennen und erfahren Details!<br><a href="tel:0221/96 98 95 -91">0221/96 98 95 -91</a></p>'
hero_image_path: "hero-projekte.jpg"
---


<section id="projekte" class="content-section white-bg">
  <div class="container">
    <h2 class="section-header editable">Eine Auswahl unserer Projekte</h2>
  </div>
  <div class="container">
    <div class="projekte-wrapper row">
      
      {% if site.projects.length > 0 %}
        {% for project in site.projects %}
          <div class="col-md-4">
            {% include project-item.html %}
          </div>
        {% endfor %}
      {% else %}
        <p>Ihr dürft gespannt sein ...</p>
      {% endif %}

      
      
    </div>
  </div>
</section>


<section id="jumper-section" class="content-section">
  <div class="container">
    <h2 class="section-header text-center editable">Oder lernen Sie uns weiter kennen</h2>
    <div class="arrow-divider text-center"><img src="../img/icons/arrow-down-blue.svg"></div>
    <div class="row">
      
      {% include jumper-item.html link_title="Die Agentur" link_path="/agentur" img_path="img/jumper-agentur.png" %}
      
      {% include jumper-item.html link_title="Leistungen" link_path="/leistungen" img_path="img/jumper-leistungen.png" %}
      
      {% include jumper-item.html link_title="Kontakt" link_path="/kontakt" img_path="img/jumper-kontakt.png" %}
      
      
    </div>
  </div>
</section>
