---
layout: default
---
<div class="section-hero" style="background-image: url(/img/{{ page.hero_image_path }})">
  <div class="container">
    <a href="#" onclick="window.history.back();"class="back-link"><i class="icon-arrow icon-arrow-small icon-arrow-left"></i>Zurück</a>
    
    <h2>{{ page.title}}</h2>
    <div class="divider"></div>
    <img class="project-main" src="{{ page.image_path}}">
    <div class="intro-txt">
      {{ content }}      
    </div>
  </div>
</div>


<section id="jumper-section" class="content-section">
  <div class="container">
    <h2 class="section-header text-center editable">Oder lernen Sie uns weiter kennen</h2>
    <div class="arrow-divider text-center"><img src="../img/icons/arrow-down-blue.svg"></div>
    <div class="row">
      
      {% include jumper-item.html link_title="Die Agentur" link_path="/agentur" img_path="img/jumper-agentur.png" %}
      
      {% include jumper-item.html link_title="Projekte" link_path="/projekte" img_path="img/jumper-projekte.png" %}
      
      {% include jumper-item.html link_title="Kontakt" link_path="/kontakt" img_path="img/jumper-kontakt.png" %}
      
      
    </div>
  </div>
</section>